<link rel="stylesheet" href="/css/footer.css">
<div id='footer'>
    <div>About Worldbook</div>
    <div>Your Company</div>
    <div>Hiring Company List</div>
    <div>Privacy Policy</div>
    <div>terms and Condition</div>
</div>