<link rel="stylesheet" href="/css/header.css">
<div id="worldbook"><a href='/'>Welcome to Worldbook</a></div>
<div id='header'>

    <%if(locals.user){%>
        <div><a href='/'><i class="fas fa-home"></i></a></div>

        <div><a href='/friend'><i class="fas fa-user-friends"></i></a></div>
        <div><a href='/friend'><i class="fab fa-facebook-messenger"></i></a></div>
        <div><a href='/friend'><i class="fas fa-gamepad"></i></a></div>


        <% }%>
            <div>
                <%if(locals.user){%>
                    <div>
                        <a href='/user/profile/<%=locals.user.id%>'>
                            <i class="fas fa-user"></i>
                            <%=user.name%>
                        </a>
                    </div>
                    <div><a href='/user/sign-out'>Logout</a></div>

                    <% }else{%>
                        <div><a href='/user/sign-in'>Sign In</a></div>
                        <div><a href='/user/sign-up'>Sign Up</a></div>

                        <%}%>

            </div>
</div>