<link rel="stylesheet" href="/css/header.css">
<div id='header'>
    <div>
        <div>Worldbook</div>

    </div>
    <%if(locals.user){%>
        <div><a href='/'>Home</a></div>
        <div><a href='/user/profile/<%=locals.user.id%>'>Profile</a></div>

        <% }%>
            <div>
                <%if(locals.user){%>
                    <div>
                        <%=user.name%>
                    </div>
                    <div><a href='/user/sign-out'>Logout</a></div>

                    <% }else{%>
                        <div><a href='/user/sign-in'>Sign In</a></div>
                        <div><a href='/user/sign-up'>Sign Up</a></div>

                        <%}%>

            </div>
</div>