<link rel="stylesheet" href="/css/home.css">

<div id="home-page">

    <div id="post-section">
        <%if(locals.user){%>
            <h1>Create Post</h1>
            <div id="post-blog">
                <form action="/post/create-post" id="new-post-form" method="POST">
                    <textarea name='content' cols="50" rows="4" placeholder="Write a Post.........."
                        required></textarea>
                    <button type="submit">Add Post</button>
                </form>
            </div>
            <%}%>
                <div id='post-list-container'>
                    <ul>
                        <%for(post of postList){%>
                            <%-include('_post.ejs')-%>
                                <% }%>
                    </ul>
                </div>
    </div>
    <div id="friend-section">
        <aside>
            <h2>Friends list</h2>
            <ul>
                <%for(i of userList){%>
                    <li>
                        <a href="/user/profile/<%=i.id%>">
                            <%=i.name%>
                        </a>
                    </li>
                    <% }%>
            </ul>
        </aside>
    </div>
</div>
<!-- <script src="/js/home_post.js"></script> -->