<link rel="stylesheet" href="/css/profile.css">
<div id='profile'>
    <h1>This is my Profile</h1>
    <b>
        Name: </b>
    <%=user.name%>

        <br>
        <b>Email: </b>
        <%=user.email%>

</div>