<h1>Log in</h1>
<form action="/user/create-session" method="POST">
    <input type="text" name="email" placeholder="Enter Email">

    <input type="text" name="password" placeholder="Enter Password">
    <button type="submit">Log In</button>
</form>