<link rel="stylesheet" href="/css/sign.css">


<br>
<div id="signUp">
    <div><b>LogIn</b></div>

    <form action="/user/create-session" method="POST">
        <input type="text" name="email" placeholder="Enter Email">
        <br>
        <input type="text" name="password" placeholder=" Password">
        <br>

        <button type="submit" class="Submit_sign_up">Login</button>
    </form>
</div>


<h2 id="google-sign"><a href="/user/auth/google">Google Sign In/Sign Up</a></h2>
<br>