<h1>Sign Up</h1>
<form action="/user/create" method="POST">
    <input type="text" name="email" placeholder="Enter Email">
    <input type="text" name="name" placeholder="Enter Name">
    <input type="text" name="password" placeholder=" Password">
    <input type="text" name="confirm_password" placeholder="Confirm Password">
    <button type="submit">Sign Up</button>
</form>
<br>

<h2><a href="/user/auth/google">Google Sign In</a></h2>
<br>