#home-page {
  margin: 2%;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#friend-section {
  padding-left: 2%;
  height: auto;
  width: 20%;
  border-left: 1px solid black;
}
