<div>
    <p>
        Hiii!<%=comment.user.name%>!
    </p>
    <br>
    <br>
    <p><strong>
            <%=comment.content%>
        </strong></p>
    <br>
    <br>
    <p><strong>Just published on Worldbook</p>

</div>